name: Build and Bundle Action

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install

      - name: Bundle Action with NCC
        run: ncc build src/main.js -o dist

      - name: Commit Changes
        run: |
          git config --local user.name "mohitmsingh"
          git config --local user.email "mohit.itsector@gmail.com"
          git add dist/
          git commit -m "Auto-bundled action [skip ci]" || echo "No changes to commit"
          git push origin main
